---
import type { CollectionEntry } from 'astro:content';
import { Picture } from 'astro:assets';

interface Props {
    blog: CollectionEntry<'blogs'>
}

const { blog } = Astro.props

const formattedDate = new Intl.DateTimeFormat('en-US', {
  month: 'short',
  day: 'numeric',
  year: 'numeric',
  timeZone: 'UTC'
}).format(blog.data.pubDate)
---

<div class="flex flex-1 flex-col w-96 h-auto gap-1 min-w-82 lg:w-full">
    <a href={`/beyondborders/blogs/${blog.id}`}>
        <Picture 
            src={blog.data.image.src} 
            widths={[1920]} 
            formats={['avif', 'webp']} 
            fallbackFormat="jpg"
            alt={blog.data.image.alt || ' '}
            class="w-full h-auto aspect-video object-cover rounded-md"
            loading="lazy"
		/>
    </a>
    <div class="flex flex-col gap-2.5 p-1">
        <div class="blogInfo flex flex-row-full items-center">
            <p class="text-sm text-white-900 whitespace-nowrap">{blog.data.estimatedReadTime}</p>
            <hr class="bg-white-900 w-full mx-3 border-none h-px rounded-md">
            <p class="text-sm text-white-900 whitespace-nowrap">{formattedDate}</p>
        </div>
        <a href={`/beyondborders/blogs/${blog.id}`}>
            <h1 class="text-xl text-white-900 mb-1">{blog.data.title}</h1>
            <p class="text-white-900 mb-1">{blog.data.description}</p>
        </a>
    </div>
</div>
